body {
    background-color:rgb(179, 219, 245);
    font-family: Arial, sans-serif;
    display:flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: darkslateblue;
    text-shadow: 2px 1px rgb(53, 53, 53);
    border-bottom: 3px solid black;
}

#biografia {
    font-size: 24px;
    text-align: justify;
    max-width: 800px;
}

#lista {
    background-color: darkgrey;
    border-radius: 5px;
    width: 200px;
}

li {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

#natacao {
    width: 800px;
    border-radius: 15px;
    border: 4px solid grey;
    margin-bottom: 40px;
}

#tabela {
    background-color: darkgrey;
    display:flex;
    border-radius: 10px;
    width: 800px;
    justify-content: center;
    margin-bottom: 30px;
}

.paises {
    font-size: 20px;
}

.fotopaises {
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    margin: 20px;
}

#link {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.1s ease;
}

#link:hover {
    color: red;
    font-size: 28px;
    text-decoration: none;
}
  

